---
layout: default
title: 主页
---
<script type="text/javascript">
  function changeQuote(){
    var baseurl = "{{site.baseurl}}";
    var urlQuotes = baseurl + "/assets/data/quotes.json";
    $.ajax({ 
      url: urlQuotes,
      type: "GET",
      dataType: "JSON",
      success: function(msg){
        var quotes = msg;
        var i = Math.floor( Math.random()*(quotes.length) );
        var quote = quotes[i];
        document.getElementById("quoteLine").innerHTML = quote.text;
        document.getElementById("quoteAuthor").innerHTML = quote.author;
      },
      error: function(msg){alert(msg);}
    });
  };
  document.addEventListener("DOMContentLoaded", changeQuote);
</script>
<div>
  <div id="skrollr-body">
    <div id="non-skrollr">
      <div class="container-fluid">
        <div class="mast {{ site.css }}-text text-darken-3">
          <h4 id="quoteLine">当你的浏览器启用 JavaScript 之后，<br>这里会出现一句随机格言。</h4>
          <h4>——<b id="quoteAuthor">阿掖山·一个博客</b></h4>
          <!-- <a target="_blank" href="http://github.com/naveenshaji/material" class="{{ site.css }} darken-2 white-text text-darken-3 waves-effect waves-light btn"><i class="mdi-action-get-app"></i> View on github</a><br> -->
          <i class="mdi-navigation-arrow-drop-down" style="font-size: 200px;"></i>
        </div>
      </div>
      
        {% assign post = site.posts[0] %}
        <a href="{{ post.url | prepend:site.baseurl }}">  
          <div class="container-fluid paper card {{ site.css }} z-depth-2 waves-effect waves-light">
            {% if post.cover %} 
              <div class="cover z-depth-1" style="background-image: url('{{ post.cover | prepend: site:baseurl }}');"></div>
            {% endif %}
            <div class="card-action {{ site.css }} darken-2 white-text">
              <div class="card-title"><h1>{{ post.title }}</h1></div>
              <p>{{ post.date | date: "%b %-d, %Y" }}</p>
            </div>
            <div class="card-content {{ site.css }} white-text">
              <p>{{ post.excerpt | strip_html | truncatewords: 100}}</p>
              <!-- <button href="{{ post.url | prepend: site.baseurl }}" class="{{ site.css }} darken-1 white-text text-darken-3 waves-effect waves-light btn">View Post</button>
              <button class="{{ site.css }} darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>Bookmark!</button> -->
            </div>
          </div>
        </a>

        {% for i in (1..5) %}
        {% assign post = site.posts[i] %}
        <!-- scrolling effect wrong! -->
          <a href="{{ post.url | prepend:site.baseurl }}">  
            <div class="container-fluid paper card {{ site.css }} darken-2 z-depth-2 waves-effect waves-light">
              <div class="card-action white-text">
                <div class="card-title"><h4>{{ post.title }}</h4></div>
                <p>{{ post.date | date: "%b %-d, %Y" }}</p>
              </div>
            </div>
          </a>
        {% endfor %}
        <br/><br/><br/>
        <button href="{{ site.baseurl }}/History/" class="{{ site.css }} darken-1 white-text text-darken-3 waves-effect waves-light btn">
          <span class="">全部文章</span>
        </button>
        &nbsp;&nbsp;&nbsp;
        <button href="{{ site.baseurl }}/Topics/" class="{{ site.css }} darken-1 white-text text-darken-3 waves-effect waves-light btn">
          <span class="">内容分类</span>
        </button>
    </div>
  </div>
</div>
