---
layout: default 
---

<div id="skrollr-body">
  <div class="post container paper card" style="margin-top: 8em; margin-bottom: 5em;">
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <div class="post-meta" style="font-size: 1.5em">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</div>
    </header>
    <hr class="slender">
    <article class="post-content">
        {{ content }}
    </article>
    <br/><br/><br/>
  </div>
  <div class="comment container paper card" style="margin-bottom: 10em;">
    <h2>读者评论</h2><br>
    {% include comment_gitcus.html %}
    <!-- {% include comment_original.html %} -->
    <br><br><br>
  </div>
</div>
